<script>
  var b2ProductData = {
    isDesignMode: Shopify.designMode,
    product: {
      id: {{ product.id }},
      price: {{ product.price | json }},
      compareAtPrice: {{ product.compare_at_price | json }},
      collection: {{ product.collections | json }},
      variants: {{ product.variants | json }},
      options: {{ product.options_with_values | json }},
    },
    storeCurrency: {{ shop.currency | json }},
    volumeBundles: {{ shop.metafields.barn2_bundles.product_discount.value | json }}
  };

  // Hide variant selector and quantity input if Barn2 Bundles is enabled
  const variantSelector = document.querySelector('.product__info-container variant-selects, .product__info-wrapper variant-selects, .product-page-section variant-selects, .product__info-wrapper variant-radios, variant-picker.variant-picker');
  const quantityInput = document.querySelector('.product-form__input.product-form__quantity, quantity-selector-component');
  if (variantSelector) {
    variantSelector.style.display = 'none';
  }
  if (quantityInput) {
    quantityInput.style.display = 'none';
  }
</script>
{% # theme-check-disable AssetSizeJavaScript %}
<script src="{{ 'barn2-discounts.js' | asset_url }}" defer></script>
{% # theme-check-enable AssetSizeJavaScript %}
<div id="barn2_discounts_block" class="barn2_discounts"></div>

{% schema %}
{
  "name": "Barn2 Bundles & Discounts",
  "target": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "stylesheet": "barn2-discounts.css"
}
{% endschema %}